<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace에는 이 파일과 연동될 인터페이스의 전체경로(패키지명 포함 클래스명)를 적는다 -->
<mapper namespace="com.spring.mvc.chap04.repository.ScoreMapper">

<!-- resultMap: DB컬럼명과 자바클래스 필드명이 완전히 다를경우 사용한다   -->
    <resultMap id="scoreMap" type="com.spring.mvc.chap04.entity.Score">
        <result column="stu_name" property="name" />
    </resultMap>
    <select id="findAll" resultMap="scoreMap">
        SELECT * FROM tbl_score
    </select>
<!--    -->
    <insert id="save">
        INSERT INTO tbl_score
        (stu_name, kor, eng, math, total, average, grade)
        VALUES (#{name}, #{kor}, #{eng}, #{math},
                #{total}, #{average}, #{grade})
    </insert>
<!--    -->
    <delete id="delete">
        DELETE FROM tbl_score WHERE stu_num = #{stuNum}
    </delete>
<!--    -->
    <select id="findOne" resultMap="scoreMap">
        SELECT * FROM tbl_score WHERE stu_num = #{stuNum}
    </select>
</mapper>